.container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 38px;
    color: #000;
    font-family:
      Inter,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
  
  .line {
    border: 1px solid #d8dadc;
    flex-shrink: 0;
    width: 111px;
    height: 1px;
  }
  
  .text {
    flex-grow: 1;
    flex-shrink: 1;
    width: 89px;
  }
  